<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style.css' }}" />
</head>

<body>
    
    <div class="container-fluid row" style="height: 100vh; overflow: hidden;">
        <div class="col-12 d-flex justify-content-center align-items-center">

            <div class="card text-center" id="card2" style="width: 60%;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        {% if isConnected%}
                        <span class="status-circle status-connected"></span>
                        Connected
                        {% else %}
                        <span class="status-circle status-disconnected"></span>
                        Disconnect
                        {% endif %}
                    </div>
                    <form action="{{url_for('createAccount')}}" method="post" >
                        <button type="submit" class="btn btn-warning" >
                            Create Account Address
                        </button>
                    </form>
                </div>
                <div class="card-body d-flex flex-column g-3 align-items-center gap-3">
                    <span class="card-rounded-span" id="accountAddress">{{account.address}}</span>
                    <h3 class="card-title" id="accountBalance">{{balance}} ETH</h3>
                    <div class="row justify-content-center w-100">
                        <div class="option-button col-12">
                            <form action="{{url_for('makeTransaction', form='w1')}}" method="post" id="form1">
                                <div class="row g-2">    
                                    <div class="col-12">
                                        <input class="col-4 form-control w-100" type="text" placeholder="Sender Address"
                                    name="senderAddress" id="senderAddress">
                                    </div>  

                                    <div class="col-9">
                                        <input class="col-4 form-control w-100" type="text" placeholder="Receiver Address"
                                    name="receiverAddress" id="receiverAddress">
                                    </div>       
                                            
                                    <div class="col-3">    
                                        <input class="col-3 form-control w-100" type="text" placeholder="Amount"
                                        name="amount" id="amount"> 
                                    </div>                            
                                </div>    
                                <button type="submit" class="btn btn-primary mt-2 w-50" onclick="sendTransaction()">
                                    <i class="bi bi-send"></i>
                                    Send
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="container tnxContainer">
                        <div class="tnxHeader">
                            <b style="font-size: 18px;">Transactions</b>
                        </div>
                        <div class="container tnxBorder" style="overflow: scroll; height:350px">
                                {% if transactions%}
                                {% for transaction in transactions%}
                                    <div class="row justify-content-between g-2 tnx rounded-4">
                                        <div class="col-1">
                                            {% if transaction['to'] == account.address%}
                                            <i class="bi bi-send-fill" style="color:white;" id="rotateIcon"></i>
                                            {% else %}
                                                <i class="bi bi-send-fill" style="color:white"></i>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="col-9 text-start " style="font-size: 14px; color:white">
                                            <div>
                                                <b style="font-size: 18px;">
                                                    {% if transaction['to'] == account.address%}
                                                       Received
                                                    {% else %}
                                                       Sent
                                                    {% endif %}
                                                
                                                </b>
                                            </div>
                                            <div>
                                                <span>To: {{transaction['to']}}</span>
                                            </div>
                                            <div>
                                                <span>From: {{transaction['from']}}</span>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center align-items-center">
                                            <span class="badge">{{transaction['amount']}} ETH</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% endif %}                            
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    @Block Wallet
                </div>
            </div>
        </div>

    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>